<h1>Edit Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for posts</p>
    <ul>
      <li>Keep it clean.</li>
      <li>The incessant use of hashtags will get you banned.</li>
      <li>No trolls allowed.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= bootstrap_form_for(@post) do |f| %>
      <%= f.text_field :title, placeholder: "Enter post title" %>

      <%= f.text_area :body, rows: 8, placeholder: "What's on your mind?" %>

      <%= f.submit "Save", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
